.cell {
  border-radius: 0.25rem;
  height: 8rem;
  width: 8rem;

  background-color: #162936;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell[disabled] {
  pointer-events: none;
}

.cell-won {
  transition: 0.5s;
  background-color: green;
}

.cell-won svg {
  fill: var(--dark-bg);
}

.O {
  fill: rgb(13, 0, 255);
}

.X {
  fill: rgb(255, 0, 0)
}

.O:hover {
  border: 0.35rem solid rgb(13, 0, 255);
}

.X:hover {
  border: 0.35rem solid rgb(255, 0, 0);
}

.O:hover, .X:hover {
  transition: 0.2s;
}

svg.O, svg.X {
  height: 50%;
  width: 50%;
}